@use '~/styles/variables';

.loginScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: variables.$backgroundColor;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;

  .username {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .password {
    display: flex;
    padding-right: 75px;
  }

  .passwordTitle {
    margin-right: 5px;
  }

  .passwordBox {
    height: 25px;
    min-width: 120px;
    border-bottom: variables.$borderWidth solid variables.$borderColor;
  }
}