.input {
  height: 100%;
  flex: 1;
  
  input {
    height: 100%;
    padding-left: 10px;
    width: 100%;
    margin: 0;
    border: none;
    background: unset;
    color: white;
    font-family: 'RobotoMono', monospace;
  }
}