@use '~/styles/variables';

.footerMenuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 50px;
  width: 100%;
  
  &.bordered {
    border-bottom: variables.$borderWidth solid variables.$borderColor;
  }
}