@use '~/styles/variables';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$backgroundColor;
  z-index: 99999999;

  border-top: variables.$borderWidth solid variables.$borderColor;
  height: variables.$menuHeight;

  .footerButtons {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .footerWindowButtons {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

}

@media screen and (max-width: 500px) {
  .footer {
    .footerButtons {
      .footerWindowButtons {
        display: none !important;
      }
    }
  }
}