@use '~/styles/variables';

.footerButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  border-right: variables.$borderWidth solid variables.$borderColor;
  cursor: pointer;
}