@use '~/styles/variables';

.browserBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: variables.$borderWidth solid variables.$borderColor;

  .browserBarInput {
    height: 100%;
    flex: 1;
    
    input {
      height: 100%;
      padding-left: 10px;
      width: 100%;
      margin: 0;
      border: none;
      background: unset;
    }
  }

  .browserBarButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
   
    
  }

  .browserBarSearch,
  .browserBarButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    cursor: pointer;
    border-right: variables.$borderWidth solid variables.$borderColor;
    
    span {
      font-size: 14pt;
    }
  }

  .browserBarSearch {
    width: 75px;
    border-right: none;
    border-left: variables.$borderWidth solid variables.$borderColor;
  }
}