@use '~/styles/variables';

.mailIcon {
  cursor: pointer;
  position: relative;
  height: 60px;
  width: 90px;
  border: variables.$borderWidth solid variables.$borderColor;

  .mailIcon_1 {
    position: absolute;
    top: -30px;
    left: 14px;
    height: 60px;
    width: 60px;
    transform: rotateZ(45deg);
    border-right: variables.$borderWidth solid variables.$borderColor;
    border-bottom: variables.$borderWidth solid variables.$borderColor;
  }
}