@use '~/styles/variables';

.footerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: variables.$footerHeight;
  
  min-height: variables.$menuHeight;
  width: variables.$menuWidth;

  border-top: variables.$borderWidth solid variables.$borderColor;
  border-right: variables.$borderWidth solid variables.$borderColor;
}