@use '~/styles/variables';

.popupMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: variables.$backgroundColor;

  position: absolute;
  left: -(variables.$borderWidth);
  bottom: variables.$menuHeight;

  min-height: variables.$menuHeight;
  min-width: variables.$menuWidth;

  border-top: variables.$borderWidth solid variables.$borderColor;
  border-right: variables.$borderWidth solid variables.$borderColor;
  z-index: 99995;

  .popupMenuDefaults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .popupMenu {
    min-width: 100%;
    border-right: none;
    left: 0;

  }
}