@use '~/styles/variables';

.window {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  border: variables.$borderWidth solid variables.$borderColor;
  background: variables.$backgroundColor;
  min-width: 300px;
  min-height: 200px;
  max-width: unset !important;
  max-height: unset !important;

  .windowTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: variables.$menuHeight;
    border-bottom: variables.$borderWidth solid variables.$borderColor;

    .windowTopBarTitle {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      margin-left: 15px;
      cursor: move;

      span {
        white-space: nowrap;
        font-size: 11pt;
      }
    }

    .windowTopBarButtons {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .windowMain {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: scroll;

    iframe {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .window {
    max-width: 100% !important;
    min-width: 100%;
    transform: unset !important;
    top: unset !important;
    bottom: 10px !important;
  }
}