@use '~/styles/variables';

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 90%;
  height: 90%;
  border: variables.$borderWidth solid variables.$borderColor;

  .windowTopBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom: variables.$borderWidth solid variables.$borderColor;

    .windowTopBarTitle {
      width: 50%;
      margin-left: 15px;

      span {
        font-size: 14pt;
      }
    }

    .windowTopBarButtons {
      height: 100%;
      width: 25%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      
      .windowTopBarButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50px;
        cursor: pointer;
        border-left: variables.$borderWidth solid variables.$borderColor;
        
        span {
          font-size: 14pt;
        }
      }
    }
  }

  .windowMain {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: scroll;

    iframe {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}