@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html,
body,
#__next {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background: variables.$backgroundColor;
}

body {
  height: calc(100% - 20px - (variables.$borderWidth * 2));
  width: calc(100% - 20px);
  border-radius: 10px;
  margin: 10px;
  border: variables.$borderWidth solid variables.$borderColor;
  overflow: hidden;
}

a,
p,
span,
input,
textarea {
  font-family: 'Roboto Mono', monospace;
  color: variables.$textColor;
  text-decoration: none;
  font-size: 9pt;
  margin: 0;
  border: none;
  background: unset;
  font-size: 9pt;
  text-shadow: unset;
  resize: none;

  &:focus {
    outline: none;
  }
}




* {
  box-sizing: border-box;
}