@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html,
body,
#__next {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: variables.$backgroundColor;
}

a,
span {
  font-family: 'Roboto Mono', monospace;
  color: variables.$textColor;
  font-size: 9pt;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}